
{{- $pathPrefix := "examples" }}

{{- $fn := .Get 0 }}

{{- $path := printf "%s/%s" $pathPrefix $fn }}

{{- if gt ( len .Params ) 1 }}
    {{- $.Scratch.Set "format" ( .Get 1 ) }}
{{- else }}
    {{- $splits := ( split $fn "." ) }}
    {{- $splitsLength := ( len $splits ) }}
    {{- $format := ( index $splits ( sub $splitsLength 1 ) ) }}
    {{- $.Scratch.Set "format" $format }}
{{- end }}

{{- $format := ( $.Scratch.Get "format" ) }}

{{- print "```" $format "\n" ( 
    partial "remote/url/raw" ( dict "path" $path "Context" .
    ) | partial "remote/getRemoteContent"
) "\n" "```" | markdownify }}
