{{/*

- repo-url[ cat] path
- repo-url commit=<$.Site.Params...> cat="blob" path=<required>

*/}}

{{- $defCat := "blob" }}

{{- $cat := .Get 0 }}
{{- $path := .Get 1 }}

{{- if lt (len .Params) 2 }}
  {{- $cat = $defCat }}
  {{- $path = .Get 0 }}
{{- end }}


{{- if .IsNamedParams }}
  {{- $cat = .Params.cat | default $defCat }}
  {{- $path = .Params.path }}
{{- end }}

{{- $lastPartPath := cond (eq $cat "raw") "raw" "link-of-cat" }}

{{- partial (print "remote/url/" $lastPartPath) ( dict
  "path" $path
  "cat" $cat
  "commit" (.Get "commit")
  "Context" .
  ) }}

